
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="d-flex justify-content-center align-items-center">
        @* 1.HTML TAG *@
        
        @*
            <a href="/Home/Index" class="btn btn-primary">Home</a>
            <a href="/Home/AboutUs" class="btn btn-dark">AboutUs</a>
            <a href="/Home/ContactUs" class="btn btn-danger">ContactUs</a>
            <a href="/Home/Privacy" class="btn btn-secondary">Privacy</a>
        *@
        @* 2.HTML helper *@
        @*
        @Html.ActionLink("Home", "Index", "Home", null, new {@class="btn btn-primary"})
        @Html.ActionLink("AboutUs", "AboutUs", "Home", null, new { @class = "btn btn-dark" })
        @Html.ActionLink("ContactUs", "ContactUs", "Home", null, new { @class = "btn btn-secondary" })
        @Html.ActionLink("Privacy", "Privacy", "Home", null, new { @class = "btn btn-info" })
        *@
          @* 3.tag helper *@
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary me-2">Home</a>
        <a asp-controller="Home" asp-action="AboutUs" class="btn btn-dark me-2">AboutUs</a>
        <a asp-controller="Home" asp-action="ContactUs" class="btn btn-danger me-2">ContactUs</a>
        <a asp-controller="Home" asp-action="Privacy" class="btn btn-secondary">Privacy</a>

        @**@

        </div>
    <div>
        @RenderBody()
    </div>

    <footer class="fixed-bottom">
        <span class="text-center"> Copyrights &copy; Route Academy @DateTime.Now </span>
    </footer>
</body>
</html>
